body{
    background: #d9d9d9;
}


.bemutatkozas{
    text-align:center;
    justify-content: left;
    align-items: center;
    display: flex;
}
.onarckep{
    max-width: 200px;
    max-height: 200px;
}
.keszsegek img{
    max-width: 200px;
    max-height: 200px;
}

.projektkepek{
    max-width: 200px;
    max-height: 200px;
}